.home-page {
  width: 50%;
  display: flex;
  flex: 1 1;
  justify-content: space-between;
  padding-inline: 13%;
  align-items: center;

  img {
    // height: 50%;
    width: 35%;
    // flex-grow: 5;
  }
  p {
    font-size: 20px;
    width: 23%;
  }
}
