.navbar {
  background: #000;
  height: 100vh;
  width: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
  ul {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 80%;
    align-items: center;
    li:first-child {
      position: relative;
      ::after {
        content: "";
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: 40%;
        width: 100px;
        height: 10px;
        background-color: white; /* Set the line color */
        z-index: 1; /* Put the line behind the text */
      }
    }
    a {
      color: white;
      text-decoration: none;
      font-size: 28px;
      font-weight: bold;
    }
  }
}
.d-flex {
  display: flex;
}
